# Server Port
PORT=3001

# Frontend URL
CLIENT_URL=http://localhost:3000

# Session Secret
SESSION_SECRET=

# Ethereum RPC URL
RPC_URL=http://127.0.0.1:8545

# IPFS Configuration
IPFS_API_KEY=
IPFS_SECRET=